#IntelliJ
.idea
*.iml

#Maven
target
deploy
bin

#MacOS
.DS_Store

#STS
.settings
.classpath
.project
.springBeans

#gradle
.gradle/
/build/
/gradle/


#log
/catalina.base_IS_UNDEFINED/
/logs/
*.log

#secret
*.yml
