.send_orders{
    margin-bottom: 70px;
}

.undone_orders{
    margin-bottom: 70px;
}

.done_orders{
    margin-bottom: 70px;
}

.send_order{
    width: 250px; height: 200px;
    margin: 10px;
    border: 1px solid;
    border-color: #00c73c;
    border-width: 2px;
    padding: 15px;
    font-size: 12pt;
    overflow: auto;
}

.undone_order{
    width: 250px; height: 200px;
    margin: 10px;
    border: 1px solid;
    border-color: #00c73c;
    border-width: 2px;
    padding: 15px;
    font-size: 12pt;
    overflow: auto;
}

.done_order{
    width: 250px; height: 200px;
    margin: 10px;
    border: 1px solid;
    border-color: gray;
    background-color: #CCCCCC;
    border-width: 2px;
    padding: 15px;
    font-size: 12pt;
    overflow: auto;
}

.user_div{
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: -5px;
    padding-bottom: 5px;
}
